output_images/
.env
./env/
env/
*.pkl
*.gltf
*.glb
*.pem
*.pdb
logs/
node_modules/
image_server/Immersive-Web-Emulator-Chrome-Web-Store/
image_server/WebXR-emulator-extension/
puppeteer_profile/
image_server/public/static/*
image_server/server2.js
image_server/public/client2.js
screenshots/
image_server/public/env.js
