bidict
black
blinker
click
dataclasses-json
Deprecated
dnspython
eventlet
filelock
Flask
Flask-SocketIO
freetype-py
fsspec
greenlet
h11
imageio
itsdangerous
Jinja2
MarkupSafe
marshmallow
mpmath
mypy-extensions
networkx
numpy
packaging
pathspec
pillow
platformdirs
pyglet
PyOpenGL
pyrender
python-engineio
python-socketio
scipy
setuptools
simple-websocket
six
sympy
trimesh
typing-inspect
typing_extensions
Werkzeug
wrapt
wsproto